.hero-section {
  min-height: 100vh;
}

.bg-image {
  background-image: url("../../../public/Assets/preview.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
}

.banner {
  background: linear-gradient(to right, #4DCA79, #1CBDDD);
  width: 50%;
  margin-left: 10vw;
  margin-top: 50vh;
  position: absolute;
}

.display-3 {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-align: left;
}

.consultation-btn {
  background-color: #f28d35;
  color: white;
  padding: 10px 20px; 
  border: none;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
}

.consultation-btn:hover {
  background-color: #ff5252;
  color: white;
}

@media (max-width: 1200px) {
  .banner {
    width: 50vw;
    margin-left: 10vw;
    bottom: 10vh;
  }
}

@media (max-width: 768px) {
  .banner {
    width: 100vw;
    margin: 0;
    bottom: 0;
  }

  .display-3 {
    font-size: 3rem;
  }

  .consultation-btn {
    font-size: 1rem;
  }
}

@media (max-width: 375px) {
  .banner {
    width: 100vw;
    margin: 0;
    bottom: 0;
  }

  .display-3 {
    font-size: 2rem;
  }

  .consultation-btn {
    font-size: 0.75rem;
  }

}
